.footer {
  position: relative;
  padding: 51px 0;
  background: var(--color6);

  .logo__wrap {
    width: 55px;
    height: 55px;
    margin-bottom: 40px;
  }
}

.footer__wrap {
  //opacity: 0.1;
  //background-color: var(--color6);
  //padding: 51px 0;
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //margin: auto;
}

.footer__support-list {
  margin-bottom: 50px;
}

.support-list__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.135px;
  color: var(--color1);
  margin-bottom: 20px;
}

.footer__social-media__list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.social-media__item {
  display: block;

  &:before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  &.social-media__item_facebook {
    &:before {
      background: url(./assets/icon-facebook.svg) no-repeat;
    }
  }

  &.social-media__item_twitter {
    background: url(./assets/icon-twitter.svg) no-repeat;
  }

  &.social-media__item_insta {
    background: url(./assets/icon-instagram.svg) no-repeat;
  }
}
