.header {
  height: 312px;
  padding-top: 123px;
  background: url("./assets/bg-header-mobile.png") no-repeat top center;

  @include breakpoint(tablet) {
    background: url("./assets/bg-header-desktop.png") no-repeat top center;
    background-size: cover;
  }

  &:hover {
    cursor: pointer;
  }
}

.logo__wrap {
  width: 125px;
  height: 125px;
  display: block;
  margin: auto auto 64px auto;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
