.container__download_top-box {
  margin-bottom: 160px;
}

.container__download_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.521739px;
  color: var(--color1);
  margin-bottom: 16px;

  @include breakpoint(desktop) {
    font-size: 46px;
    line-height: 58px;
    letter-spacing: -0.75px;
  }
}

.container__download_description {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);

  @include breakpoint(desktop) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
  }
}

.container__download_buttons-wrap {
  @include breakpoint(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.btn {
  height: 56px;
  padding: 0 36px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--color5);
  text-decoration: none;
  border-radius: 28px;
  display: block;
  line-height: 56px;
  max-width: 375px;

  &.btn_ios {
    background-color: var(--color3);
    box-shadow: 0 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0 -3px 0 rgba(0, 0, 0, 0.151333);
    margin: auto auto 24px;

    @include breakpoint(desktop) {
      margin: 0;
    }

    &:hover {
      @include breakpoint(desktop) {
        background: var(--color8);
      }
    }
  }

  &.btn_mac {
    background-color: var(--color4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0 -3px 0 rgba(0, 0, 0, 0.151333);
    margin: auto;

    @include breakpoint(desktop) {
      margin: 0;
    }

    &:hover {
      @include breakpoint(desktop) {
        background: var(--color9);
      }
    }
  }
}

.container__download_top-box {
  margin-bottom: 160px;

  @include breakpoint(desktop) {
    margin-bottom: 152px;
  }
}

.main-container__section_heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.456522px;
  color: var(--color1);

  @include breakpoint(desktop) {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.586957px;
  }
}

.main-container__section_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);
  position: relative;

  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

.main-container__section_keep_heading {
  margin-bottom: 16px;
}

.main-container__section_keep_description {
  margin-bottom: 65px;
}

.section__keep__advantages-item {
  margin-bottom: 48px;

  @include breakpoint(desktop) {
    margin-bottom: 56px;
  }
}

.section__keep__advantages-item_heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.391304px;
  color: var(--color1);
  margin-bottom: 10px;

  @include breakpoint(desktop) {
    text-align: left;
  }
}

.section__keep__advantages-item_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);

  @include breakpoint(desktop) {
    text-align: left;
  }
}

.advantages-list_wrap {
  .layout {
    @include breakpoint(desktop) {
      width: 50%;
      padding: 0 272px 0 109px;
    }
  }

  @include breakpoint(desktop) {
    display: flex;
  }
}

.advantages-list__pic__wrap {
  width: 100%;
  height: 238px;
  margin-bottom: 56px;

  @include breakpoint(tablet) {
    height: 572px;
    max-width: 500px;
    margin: auto;
  }

  @include breakpoint(desktop) {
    height: 555px;
    max-width: initial;
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-container__section_keep {
  margin-bottom: 186px;

  @include breakpoint(desktop) {
    margin-bottom: 166px;
  }
}

.main-container__section_access_description {
  margin-bottom: 64px;

  @include breakpoint(desktop) {
    margin-bottom: 106px;
  }
}

.section_access_description__pic__wrap {
  height: 221px;

  @include breakpoint(tablet) {
    height: 475px;
    max-width: 500px;
    margin: auto;
  }

  @include breakpoint(desktop) {
    max-width: 903px;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(tablet) {
      object-fit: contain;
    }
  }
}

.main-container__section_access {
  margin-bottom: 93px;

  @include breakpoint(desktop) {
    margin-bottom: 68px;
  }
}

.main-container__section_access_heading {
  margin-bottom: 16px;
}

.main-container__section_keep_description {
  margin-bottom: 64px;

  @include breakpoint(desktop) {
    margin-bottom: 82px;
  }
}

.section__keep__advantages-list {
  height: 100%;
  align-self: center;

  @include breakpoint(desktop) {
    width: 50%;
    align-self: center;
    padding: 0 241px 0 109px;
  }
}

.section_access_wrap {
  position: relative;
}

.main-container__section_workflow {
  margin-bottom: 131px;
}

.section_workflow__inner-list {
  @include breakpoint(desktop) {
    display: flex;
  }
}

.main-container__section_workflow_heading {
  margin-bottom: 11px;

  @include breakpoint(desktop) {
    margin-bottom: 21px;
  }
}

.main-container__section_workflow_description {
  margin-bottom: 90px;

  @include breakpoint(desktop) {
    margin-bottom: 77px;
  }
}

.section_workflow__inner-item {
  margin-bottom: 56px;
  text-align: center;
}

.section_workflow__inner-item_heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.391304px;
  color: var(--color1);
  margin-bottom: 18px;
}

.section_workflow__inner-item_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);

  @include breakpoint(desktop) {
  }
}

.section_workflow__inner-item_blacklist {
  position: relative;

  &:before {
    content: "";
    background: url("./assets/icon-blacklist.svg") no-repeat;
    background-size: contain;
    width: 44px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 40px;
  }
}

.section_workflow__inner-item_snippets {
  position: relative;

  &:before {
    content: "";
    background: url("./assets/icon-text.svg") no-repeat;
    background-size: contain;
    width: 44px;
    height: 40px;
    display: block;
    margin: auto auto 40px;
  }
}

.section_workflow__inner-item_preview {
  position: relative;

  &:before {
    content: "";
    background: url("./assets/icon-preview.svg") no-repeat;
    background-size: contain;
    width: 50px;
    height: 32px;
    display: block;
    margin: auto auto 40px;
  }
}

.main__container__corporation__list {
  text-align: center;
  margin-bottom: 170px;

  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
  }
}

.corporation__item {
  margin-bottom: 57px;

  img {
    margin: auto;
  }
}

.container__download_bottom-box {
  margin-bottom: 170px;

  @include breakpoint(desktop) {
    margin-bottom: 149px;
  }
}

.container__download_bottom-box_heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.456522px;
  color: var(--color1);
  margin-bottom: 16px;

  @include breakpoint(desktop) {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}

.container__download_bottom-box_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);
  margin-bottom: 46px;

  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
