.container__download {
  &.container__download_top-box {
    margin-bottom: 160px;

    .container__download_heading {
      margin-bottom: 16px;
    }

    .container__download_description {
      margin-bottom: 48px;
    }

    .btn_ios {
      margin-bottom: 24px;
    }
  }

  &.container__download_bottom-box {
    margin-bottom: 170px;

    .container__download_heading {
      color: var(--color1);
      font-size: 28px;
      line-height: 35px;
      letter-spacing: -0.456522px;
      margin-bottom: 16px;
    }

    .container__download_description {
      margin-bottom: 48px;
    }

    .btn_ios {
      margin-bottom: 24px;
    }
  }
}

.container__download_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.521739px;
  color: var(--color1);
  //margin-bottom: 16px;
}

.container__download_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);
  //margin-bottom: 49px;
}

.btn {
  height: 56px;
  width: 100%;
  padding: 3px 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--color5);
  text-decoration: none;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.btn_ios {
    background-color: var(--color3);
    box-shadow: 0 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0 -3px 0 rgba(0, 0, 0, 0.151333);
    //margin-bottom: 24px;
  }

  &.btn_mac {
    background-color: var(--color4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0 -3px 0 rgba(0, 0, 0, 0.151333);
  }
}

.advantages__item__heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.456522px;
  color: var(--color1);
  //margin-bottom: 14px;
}

.advantages__item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);
  position: relative;

  &.item__description_keeping {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 238px;
      //margin-top: 65px;
      background: url("./assets/image-computer.png") no-repeat center center;
      background-size: contain;
    }
  }

  &.item__description_access {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 182px;
      //margin-top: 65px;
      background: url("./assets/image-devices.png") no-repeat top center;
      background-size: 111%;
    }
  }
}

.advantages__item__inner-list {
  position: relative;
}

//pseudo-elements

.item-workflow {
  .advantages__inner-item {
    &:before {
      content: "";
      display: block;
      width: 44px;
      height: 40px;
      margin: 0 auto 40px;
    }

    &.inner-item__blacklists {
      &:before {
        background: url("./assets/icon-blacklist.svg") no-repeat;
        background-size: contain;
      }
    }

    &.inner-item__preview {
      &:before {
        background: url("./assets/icon-preview.svg") no-repeat;
        background-size: contain;
      }
    }

    &.inner-item__snippets {
      &:before {
        background: url("./assets/icon-text.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

.inner-item__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.391304px;
  color: var(--color1);
  //margin-bottom: 10px;
}

.inner-item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.12px;
  color: var(--color2);
}

.main__container__corporation__list {
  text-align: center;
  margin-bottom: 170px;
}

.corporation__item {
  margin-bottom: 57px;

  &:before {
    content: "";
    display: inline-block;
  }

  &.item__google {
    &:before {
      background: url("./assets/logo-google.png") no-repeat;
      width: 139px;
      height: 41px;
      background-size: contain;
    }
  }
  &.item__ibm {
    &:before {
      background: url("./assets/logo-ibm.png") no-repeat;
      width: 121px;
      height: 60px;
      background-size: contain;
    }
  }
  &.item__microsoft {
    &:before {
      background: url("./assets/logo-microsoft.png") no-repeat;
      width: 135px;
      height: 40px;
      background-size: contain;
    }
  }
  &.item__hewlett {
    &:before {
      background: url("./assets/logo-hp.png") no-repeat;
      width: 113px;
      height: 47px;
      background-size: contain;
    }
  }
  &.item__vector-graphic {
    &:before {
      background: url("./assets/logo-vector-graphics.png") no-repeat;
      width: 105px;
      height: 25px;
      background-size: contain;
    }
  }
}

.container__download {
  &.container__download_bottom-box {
    .container__download_description {
      margin-bottom: 45px;
    }
  }
}

//*********************************  Margins

.container__advantages__item {
  &.item-keeping {
    margin-bottom: 186px;

    .advantages__item__heading {
      margin-bottom: 16px;
    }

    .advantages__item__description {
      margin-bottom: 56px;

      &:after {
        margin-top: 65px;
      }
    }

    .advantages__inner-item {
      margin-bottom: 48px;
    }

    .inner-item__heading {
      margin-bottom: 10px;
    }
  }

  &.item-access {
    margin-bottom: 130px;

    .advantages__item__heading {
      margin-bottom: 16px;
    }

    .advantages__item__description {
      &:after {
        margin-top: 64px;
      }
    }
  }

  &.item-workflow {
    margin-bottom: 131px;

    .advantages__item__heading {
      margin-bottom: 11px;
    }

    .advantages__item__description {
      margin-bottom: 90px;
    }

    .inner-item__heading {
      margin: 18px;
    }

    .advantages__inner-item {
      margin-bottom: 53px;
    }
  }
}
